.apply {
  background-color: orange;
  padding: 1rem;
  cursor: pointer;
}

.discard {
  color: red;
  cursor: pointer;
  text-decoration: underline;
}

.filter-steps-box {
  border: 1px solid gray;
  padding: 2rem;
  margin: 1rem 0;
  background: #eee;
}

.add-link {
  color: darkcyan;
  cursor: pointer;
  display: block;
  text-align: center;
}

.remove,
.clone {
  background: none;
  border: none;
  cursor: pointer;
  margin-left: 1rem;
}

.step-row {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  margin: 1.5rem 0.5rem;
}

.step-actions {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}
