<div>
  <span>{{ num }}. Step: {{ stepSignal().eventType }}</span>

  <div class="event-selector">
    <label for="event">Event:</label>
    <select id="event" [(ngModel)]="stepSignal().eventType">
      <option value="Unnamed step" disabled>Select an event</option>

      @for (event of availableEvents; track $index) {
      <option [value]="event">{{ event }}</option>
      }
    </select>
  </div>
  <div>
    @if (stepSignal().eventType !== 'Unnamed step' && stepSignal().filters === undefined)
    {<attribute
      [attributes]="propertiesForEvent"
      [selected]="''"
      (selectedChange)="updateFilter(0, 'attribute', $event)"
    >
    </attribute>
    } @else { @for (filter of stepSignal().filters; track $index) {
    <attribute
      [attributes]="propertiesForEvent"
      [selected]="filter.attribute"
      (selectedChange)="updateFilter($index, 'attribute', $event)"
    >
    </attribute>
    } }
  </div>
</div>
