.apply {
  background-color: orange;
  padding: 1rem;
  cursor: pointer;
}

.discard {
  color: red;
  cursor: pointer;
  text-decoration: underline;
}

.filter-steps-box {
  border: 1px solid gray;
  padding: 2rem;
  margin: 1rem 0;
  background: #eee;
}
